@charset "utf-8";
/* CSS Document */

td.label {
	width: 66.67%;
}

td.number {
	width: 33.33%;
	text-align: center;
}

td.projdate {
	width: 35%;
	text-align: center;
}

td.milestone{
	width: 17.5%;
	text-align: center;
}

td.milelabel {
	width: 30%;
}

td.compstats,td.outputstats {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,td,th {
	border: solid 1px #808080;
}

td,th {
	padding: 5px;
}

th {
	background-color: #ab0003;
	color: white;
}

tr:nth-child(even) {
	background-color: #EEEEEE;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ab0003;
	/*background-image: url("background.png");
	background-position: center;
	background-repeat: repeat-y;*/
}

div.container {
	margin: auto;
	max-width: 825px;
	width: 95%;
}

div.page {
	/* margin: auto; */
	max-width: 799px;
	width: 100%;
}

h1,h2,h3 {
	/* position: relative; */
	border-bottom: 3px solid #ab0003;
	padding-bottom: 5px;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	max-width: 799px;
	width: 100%;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	width: 100%;
	background-color: white;
}

.intro {
	max-width: 799px;
	width: 100%;
	background-color: white;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 10px;
}

#milestone, #updatelog {
	padding: 10px;
}

h1,p {
	margin-top: 5px;
}

/*div.table {
	float: left;
}*/

/* div.right {
	position: relative;
	/*left: 300px;
	float: right;
	width: 500px;
} */

i {
	color: #999999;
	font-weight: lighter;
}

* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For mobile: */
    .main {width: 90%;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .main {width: 90%;}
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}