@charset "utf-8";
/* CSS Document */

td.label {
	width: 170px;
}

td.number {
	width: 80px;
	text-align: center;
}

td.compstats,td.outputstats {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

table,td,th {
	border: solid 1px #808080;
}

td,th {
	padding: 5px;
}

th {
	background-color: #ab0003;
	color: white;
}

tr:nth-child(even) {
	background-color: #EEEEEE;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ab0003;
	/*background-image: url("background.png");
	background-position: center;
	background-repeat: repeat-y;*/
}

div.container {
	margin: auto;
	width: 825px;
}

div.page {
	margin: auto;
	width: 825px;
}

h2,h3 {
	position: relative;
	border-bottom: 3px solid #ab0003;
	padding-bottom: 5px;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	width: 800px;
	background-color: white;
}

#projection {
	width: 799px;
}